.pytest_cache
1. Introdução a testes no Python\__pycache__
1. Introdução a testes no Python\.pytest_cache
2. Fazer testes com o Pytest\__pycache__
2. Fazer testes com o Pytest\.pytest_cache
3. Teste avançado com Pytest\__pycache__